body {
  background-color:   lightgrey;
}

#navbar {
  background-color: black !important;
  justify-content: center;
  height:100px;
} 

.colordiv {
  background-color: #0dcaf0;
}

#filled-basic {
  background-color: white
}

#form-heads {
  color: white;
}

#submit-button {
  color: white;
}

#demo-select-small {
  color: white;
  font-size: large;
}

a:hover {
  text-decoration: none !important;
}

#sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.jumbot {
  background-image: url("penbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color:#fff;
}